<% etc = app.data.etc %>
<% tiers = app.data.tier %>

<div class="pure-u-1"><h1><%= etc.ream.heading %></h1></div>
<%= image_tag(etc.ream.image) %>
<div class="pure-u-1 series-description">
	<p><%= etc.ream.description %></p>
	<div class="pure-u-1 purchase-button-group"><%= link_to("Join Today!", etc.ream.permalink, class:"purchase-button direct-purchase-button tier-button") %> 	<br/></div>
</div>
<%= image_tag(etc.ream.tier_image) %>
<p> </p>
<% tiers.each do | tier |%>
	<div class="pure-g">
	<br/>
	<hr class="horizontal-line">
	<br/>
		<div class="pure-u-1 pure-u-md-1-3 profile-img-container">
			<%= image_tag(tier.image, class: "book-card-img profile-photo tier-img") %>
		</div>
		<div class="pure-u-1 pure-u-md-2-3">
			<h3 class="bio-text"><%= tier.name %></h3>
			<p class="bio-text"><b><%= tier.price %></b></p>
			<p class="bio-text"><%= tier.description %></p>
		</div>
	</div>
	<br/>
<% end %>
<div>
<h2>January Content Release Schedule</h2>
<div class="pure-g">
<div class="pure-u-1 pure-u-sm-2-3"><img src="/images/dreaming/January2024.png" alt="January 1st: Bonus content! Available for all tiers: Glossary of terms for Smoke and Steel. January 5th: Available for all paid tiers: new draft chapter from Smoke and Steel. January 10th: Available for all paid tiers: Chapter 3 of The Last Page. January 12th: Available for Enthusiasts+: new draft chapter from Smoke and Steel. January 13th: Hangout for Aficionados + Writers, 3pm Eastern Standard Time January 15th: Bonus content! Available for all tiers: Short story related to Stars and Soil. January 19th: Available for all paid tiers: a new chapter of Smoke and Steel. January 20th: Available for Witchy Writers: Critique Group* 3pm EST. January 24th: Available for all paid tiers: Chapter 4 of The Last Page. January 26th: Available for Enthusiasts+: New draft chapter from Smoke and Steel. January 27th: Hangout for Aficionados + Writers, 3pm EST. January 29th: Bonus content for Enthusiasts+: Character profiles from Stars and Soil." /></div>
<div class="pure-u-1 pure-u-sm-1-3">
	<ul>
		<li>1/1/24: Bonus content! Available for <u>all tiers:</u> Glossary of terms for <i>Smoke & Steel.</i> </li>
		<li>1/5/24: Available for <u>all paid tiers:</u> new draft chapter from <i>Smoke & Steel.</i> </li>
		<li>1/10/24: Available for <u>all paid tiers:</u> Chapter 3 of <i>The Last Page.</i> </li>
		<li>1/12/24: Available for <u>Enthusiasts+:</u> new draft chapter from <i>Smoke & Steel.</i> </li>
		<li>1/13/24: Hangout for <u>Aficionados + Writers,</u> 3pm Eastern Standard Time </li>
		<li>1/15/24: Bonus content! Available for <u>all paid tiers:</u> Short story related to <i>Stars & Soil.</i> </li>
		<li>1/19/24: Available for <u>all paid tiers:</u> a new chapter of <i>Smoke & Steel.</i> </li>
		<li>1/20/24: Available for <u>Witchy Writers:</u> Critique Group* 3pm EST. </li>
		<li>1/24/24: Available for <u>all paid tiers:</u> Chapter 4 of <i>The Last Page.</i> </li>
		<li>1/26/24: Available for <u>Enthusiasts+:</u> New draft chapter from <i>Smoke and Steel.</i> </li>
		<li>1/27/24: Hangout for <u>Aficionados + Writers,</u> 3pm EST. </li>
		<li>1/29/24: Bonus content! <u>Enthusiasts+:</u> Character profiles from <i>Stars & Soil.</i></li>
	</ul>
</div>
</div>
<br/>
</div>
