<% data.books.each do |book| %>
    <%= image_tag(book.cover_3d, height: '500') %>
    <h1> <%= book.title %> </h1>
    <h2> <%= book.intro_hook %></h2>
    <p> <%= book.main_description %> </p>
    <br />
    <h2> <%= book.exit_hook %> </h2>
  <% end %>