---
layout: shopify_layout
title: Dax Murray - Books
---
<% get_standalones %>
<% get_scions_series %>


<div class="books-index">
<h4><i>Get 20% off any purchase made directly on my site when you <a href="https://www.daxmurray.com/newsletter">join my newsletter</a>!</i></h4>
<div class="pure-g">
<div class="pure-u-1">
<h1> Stand Alone Prose and Poetry </h1></div>
<% @standalone_books.each do | book |%>
  <div class="pure-u-1 pure-u-md-1-2 pure-u-xxl-1-3 books-cards">
    <%= image_tag(book.cover_3d, height: '500', class: "book-card-img") %>
    <h2><%= link_to(book.title, book.slug)%></h2>
    <% if book.awards? %>
    <h4 style="text-align: center;"><%= book.awards %> </h4>
    <% end %>
    <!-- <h4><%= book.intro_hook %></h4> -->
    <p><%= book.short_description %></p>
    <p><i><b><%= book.exit_hook %></i></b> </p>
    <% if !book.coming_soon? %>
    <div class="pure-u-1 purchase-button-group">
      <% if !book.purchase_direct.nil? %>
        <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-4">
          <%= link_to("Buy Ebook Now", book.purchase_direct, class:"lemonsqueezy-button direct-purchase-button") %>
        </div>
        <br/>
        <h3>Purchase elsewhere:</h3>
      <% end %>

      <% if !book.purchase_shopify.nil? %>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-4 pure-u-lg-1-6"><span class="direct-purchase-button" style="margin: 7px;"><%#= book.purchase_shopify %></span></div>
      <% end %> 
      
      <% if !book.is_only_on_ream? %>
        <% if book.has_campfire? %>
          <p class="pure-u-1-2"style="text-align: center;"><%= link_to("Campfire Project + Bonus Materials", book.campfire_link, class: "purchase-button") %></p>
        <% end %>
        <p style="text-align: center;"><%= link_to("Other Stores", book.ubl, class: "purchase-button") %></p>
      <% else %>
        <div class="pure-u-sm-1-2"><p><%= link_to("Only on Ream", book.ream.link, class: "purchase-button") %></p></div>
      <% end %>
    </div>
    <% end %>
  </div>
<% end %>
</div>
<hr class="horizontal-line">
<div class="pure-g">
<div class="pure-u-1"><h1> The SCIONS & SHADOWS Series </h1></div>
<div class="pure-u-1 series-description"><p>IN AHNLISEN, OLD GODS PLOT REVENGE on those that displaced them, hidden cities hold ancient secrets, kings and priests vie for control of powerful relics, forgotten realms rise from ashes, spies and assassins of murky loyalties operate from the shadows, rebels and revolutionaries covertly arm themselves for discord, and oracles and scryers predict the rebirth of fallen immortals.</p>
 
<p>The world of SCIONS AND SHADOWS is one of magic and intrigue, spanning centuries of political conspiracies, divine machinations and conflicts of ethics, morality, and conscience. Swords and spells clash chaotically, forcing people to decide between what they want, and what is right.</p>

<p>SCIONS AND SHADOWS is a series of novels and novellas that share the same universe. There is an overarching plot, but each book can be read as a stand-alone and in any order. They are listed below in chronological order.</p>

<h2>Find more information, including maps, character art, and early draft chapters at the special <br/><a href="https://scionsandshadows.ink">Scions & Shadows website.</a>
</div>
<br/>
<% @scions_books.each do | book |%>
  <div class="pure-u-1 pure-u-md-1-2 books-cards">
    <%= image_tag(book.cover_3d, height: '500', class: "book-card-img") %>
    <h2><%= link_to(book.title, book.slug)%></h2>
    <% if book.awards? %>
    <h4 style="text-align: center;"><%= book.awards %> </h4>
    <% end %>
    <!-- <h4><%= book.intro_hook %></h4> -->
    <p><%= book.short_description %></p>
    <p><i><b><%= book.exit_hook %> </i></b></p>
    <% if !book.coming_soon?%>
    <div class="pure-u-1 purchase-button-group">
      <% if !book.purchase_direct.nil? %>
        <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-4">
          <%= link_to("Buy Ebook Now", book.purchase_direct, class:"lemonsqueezy-button direct-purchase-button") %>
        </div>
        <br/>
        <% if !book.purchase_shopify.nil? %>
          <span class="direct-purchase-button" style="margin: 15px;"><p><%= book.purchase_shopify %></p></span>
        <% end %> 
        <br/>
        <h3>Purchase elsewhere:</h3>
      <% end %>
      
      <% if !book.is_only_on_ream? %>
        <% if book.has_campfire? %>
          <p style="text-align: center;"><%= link_to("Campfire Project + Bonus Materials", book.campfire_link, class: "purchase-button") %></p>
        <% end %>
        <p style="text-align: center;"><%= link_to("Other Stores", book.ubl, class: "purchase-button") %></p>
      <% else %>
        <p style="text-align: center;"><%= link_to("Only on Ream", book.ream.link, class: "purchase-button") %></p>
      <% end %>
    </div>
    <% end %>
    </div>
<% end %>
</div>

<hr class="horizontal-line">
<div class="tier-card">
<%= partial '_ream_promo' %>
</div>
</div>