---
title: Dax Murray
---
<% get_latest %>
<% get_coming_soon %>
<div class="pure-g home-page">

    <div class="pure-u-1 pure-u-lg-1-2 book-card">
      <div class="pure-g">
        <div class="pure-u-1">
          <h1 class="release-type"> Latest Release <h1>
        </div>
        <div class="pure-u-1">
          <h2 class="title-link"><%= link_to(@latest_release.title.to_s, @latest_release.slug) %></h2>
        </div>
        <div class="pure-u-1">
          <h3><%= @latest_release.intro_hook %></h3>
        </div>
        <div class="pure-u-1">
          <!-- <%= image_tag(@latest_release.cover_3d, height: '500', class: "book-card-img") %> -->
          <%= @latest_release.animated_3d_cover %>
        </div>
      <br />  
        <div class="pure-u-1">
          <h3> <%= @latest_release.exit_hook %> </h3>
        </div>
        <div class="pure-u-1 purchase-button-group">
          <% @latest_release.purchase_links.each do |name, link |%>
            <%= link_to(name, link, class: "purchase-button") %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="pure-u-1 pure-u-lg-1-2 book-card">
      <div class=pure-g>
        <div class="pure-u-1">
          <h1 class="release-type"> Coming May 15th, 2024 <h1>
        </div>
        <div class="pure-u-1">
          <h2 class="title-link"><%= link_to(@coming_soon.title.to_s, @coming_soon.slug) %></h2>
        </div>
        <div class="pure-u-1">
          <h3> <%= @coming_soon.intro_hook %> </h3>
        </div>
        <div class="pure-u-1">
          <!-- <%= image_tag(@coming_soon.cover_3d, height: '500', class: "book-card-img") %> -->
          <%= @coming_soon.animated_3d_cover %>
        </div>
          <br/>
        <div class="pure-u-1">
          <h3> <%= @coming_soon.exit_hook %> </h3>
        </div>
        <% if !@coming_soon.purchase_links.nil? %>
        <div class="pure-u-1 purchase-button-group">
          <% @coming_soon.purchase_links.each do |name, link |%>
            <%= link_to(name, link, class: "purchase-button") %>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
</div>

<div class="pure-g home-page">
  <div class="pacemaker">
    <h1>Smoke and Steel Progress!</h1>
    <h3>Book #3 in Scions & Shadows - Smoke and Steel</h3>
    <h2> November / NaNoWriMo </h2>
    <script src='//s3-us-west-2.amazonaws.com/pacemaker-project-widgets/js/pacemaker-project-widgets-loader.js?username=chaos&planName=01-smoke-and-steel-first-draft&width=600&height=400&view=graph-daily' type='text/javascript'></script>
    <h4> Xena: Warrior Princess meets Anastatia... Except the Subtext is Text.</h4>
    <p>This year I am plugging away at NaNo with an awesome team over at the <a href="https://campfirewriting.com">Campfire Writing</a> Discord community! Writing is always better with friends, so bring some marshmellows and join me!</p>
    <h2>December</h2>
    <script src='//s3-us-west-2.amazonaws.com/pacemaker-project-widgets/js/pacemaker-project-widgets-loader.js?username=chaos&planName=02-smoke-and-steel-continued&width=600&height=400&view=graph-daily' type='text/javascript'></script>></script>
    <p>I managed to crank out 64k "good" words during NaNoWriMo / November! December I plan on writing another 36k or more and finishing up the first draft of Smoke and Steel! It's had a few tweaks and changes to the storyline as I've drafted, and am feeling even more confident in it as the final month of 2023 starts!</p>
  </div>
</div>
