---
title: Dax Murray
---
<% get_latest %>
<% get_coming_soon %>
<h1> Latest Release <h1>

  <p> <%= @latest_release.title.to_s %> </p>
  <%= image_tag(@latest_release.cover_3d, height: '500') %>
  <% @latest_release.purchase_links.each do |name, link |%>
  <%= link_to(name, link) %>
  <% end %>

<h1> Coming Soon <h1>
  <p> <%= @coming_soon.title.to_s %> </p>
  <%= image_tag(@coming_soon.cover_3d, height: '500') %>
  <% @coming_soon.purchase_links.each do |name, link |%>
  <%= link_to(name, link) %>
  <% end %>
