---
title: Dax Murray
---
<% get_latest %>
<% get_coming_soon %>
<div class="pure-g home-page">

    <div class="pure-u-1 pure-u-lg-1-2 book-card">
      <div class="pure-g">
        <div class="pure-u-1">
          <h1 class="release-type"> Latest Release <h1>
        </div>
        <div class="pure-u-1">
          <h2 class="title-link"><%= link_to(@latest_release.title.to_s, @latest_release.slug) %></h2>
        </div>
        <div class="pure-u-1">
          <h3><%= @latest_release.intro_hook %></h3>
        </div>
        <div class="pure-u-1">
          <%= image_tag(@latest_release.cover_3d, height: '500', class: "book-card-img") %>
          <!-- <#%= @latest_release.animated_3d_cover %> -->
        </div>
      <br />  
        <div class="pure-u-1">
          <h3> <%= @latest_release.exit_hook %> </h3>
          <% if @latest_release.awards? %>
            <p><% @latest_release.awards %></p>
          <% end %>
        </div>
        <div class="pure-u-1 purchase-button-group">
          <% if !@latest_release.purchase_direct.nil? %>
              <div><%= link_to("Buy Ebook Now", @latest_release.purchase_direct, class:"lemonsqueezy-button direct-purchase-button") %></div>
          <% end %>
          <!-- <% if @latest_release.purchase_shopify.nil? %>
              <div><span class="purchase-button"><%= @latest_release.purchase_shopify %></span></div> // something about this code is making the buy button always visible below the footer?
          <% end %> -->
          <br/>
          <% if @latest_release.is_only_on_ream? %>
            <%= link_to("Only On Ream", @latest_release.ream.link, class: "purchase-button") %>
          <% end %>
          <% if @latest_release.has_campfire? %>
            <%= link_to("Campfire", @latest_release.campfire_link, class: "purchase-button") %>
          <% end %>
          <% if @latest_release.purchase_links? %>
          <h3>Purchase Elsewhere:</h3>
            <% @latest_release.purchase_links.each do |name, link |%>
              <%= link_to(name, link, class: "purchase-button") %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="pure-u-1 pure-u-lg-1-2 book-card">
      <div class=pure-g>
        <div class="pure-u-1">
          <h1 class="release-type"> Coming May 30th, 2024 <h1>
        </div>
        <div class="pure-u-1">
          <h2 class="title-link"><%= link_to(@coming_soon.title.to_s, @coming_soon.slug) %></h2>
        </div>
        <div class="pure-u-1">
          <h3> <%= @coming_soon.intro_hook %> </h3>
        </div>
        <div class="pure-u-1">
          <%= image_tag(@coming_soon.cover_3d, height: '500', class: "book-card-img") %>
          <!-- <#%= @coming_soon.animated_3d_cover %> -->
        </div>
          <br/>
        <div class="pure-u-1">
          <h3> <%= @coming_soon.exit_hook %> </h3>
        </div>
        <% if !@coming_soon.has_campfire.nil?%>
        <h3>Preview in Campfire</h3>
        <div class="pure-u-1 purchase-button-group">
        <%= link_to("Campfire", @coming_soon.campfire_link, class: "purchase-button") %>
        </div>
        <% end %>
        <% if !@coming_soon.purchase_links.nil? %>
        <h3>Pre-Order</h3>
        <div class="pure-u-1 purchase-button-group">
          <% @coming_soon.purchase_links.each do |name, link |%>
            <%= link_to(name, link, class: "purchase-button") %>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
</div>

<hr class="horizontal-line">

<!-- <div class="home-page">
  <div class="pacemaker">
    <h2>SMOKE & STEEL PROGRESS UPDATES</h2>
    <h1>Book #3 in Scions & Shadows</h1>
    <h4> Xena: Warrior Princess meets Anastatia... Except the Subtext is Text.</h4>
    <h2>November / NaNoWriMo 2023 </h2>
    <div class="pure-g">
    <div class="pure-u-1 pure-u-xl-1-2"><script src='//s3-us-west-2.amazonaws.com/pacemaker-project-widgets/js/pacemaker-project-widgets-loader.js?username=chaos&planName=01-smoke-and-steel-first-draft&width=450&height=400&view=graph-daily' type='text/javascript'></script></div>
    
    <div class="pure-u-1 pure-u-xl-1-2"><p>This year I am plugging away at NaNo with an awesome team over at the <a href="https://campfirewriting.com">Campfire Writing</a> Discord community! Writing is always better with friends, so bring some marshmellows and join me!</p></div>
    </div>

    <h2>December 2023</h2>
    <div class="pure-g">
    <div class="pure-u-1 pure-u-xl-1-2"><script src='//s3-us-west-2.amazonaws.com/pacemaker-project-widgets/js/pacemaker-project-widgets-loader.js?username=chaos&planName=02-smoke-and-steel-continued&width=450&height=400&view=graph-daily' type='text/javascript'></script></script></div>
   <div class="pure-u-1 pure-u-xl-1-2"><p>I managed to crank out 64k "good" words during NaNoWriMo / November! December I plan on writing another 36k or more and finishing up the first draft of Smoke and Steel! It's had a few tweaks and changes to the storyline as I've drafted, and am feeling even more confident in it as the final month of 2023 starts! I got pretty sick at the end of November with some virus, but I still managed to crank out most of the first 3rd of the novel, so I am still proud even if my progress petered out.</p></div>
    </div>

    <h2>January 2024</h2>
    <div class="pure-g">
    <div class="pure-u-1 pure-u-xl-1-2"><script src='//s3-us-west-2.amazonaws.com/pacemaker-project-widgets/js/pacemaker-project-widgets-loader.js?username=chaos&planName=03-create-revision-plan-and-reverse-outline&width=450&height=400&view=graph-daily' type='text/javascript'></script></script></div>
   <div class="pure-u-1 pure-u-xl-1-2"><p>Like all good novelists, I <i>mostly</i> have set <i>Smoke and Steel</i> down since I finished writing the first draft (roughly 90k words!). I have been doing some light editing on what's there, primarily I've gone back to find names and words for things that didn't have them. One of the main character's during drafting didn't have a name. I just called her THE SMITH. Now she is Miramis. I've got a few alpha readers I wanted to get this to super quick, so needed to make sure places, important objects, and people had names. My revisions start in earnest on the 15th of January, and I'll be doing my reverse outlining process and taking diligent notes of what needs to be reworked. I've already got one major thing I know will be getting changes, and I am so excited for that. The first two weeks of January I will be outlining <i>Shackles and Secrets</i> and working on my ~~ <a href="https://blog.daxmurray.com/membership-on-ream-stories">secret project novel</a> ~~. #OopsIWroteAnotherNovel. If you want to read some of Smoke and Steel *now* you can sign up for my <a href="https://www.daxmurray.com/newsletter"> newsletter</a> to instantly get the first six chapters or <a href="https://reamstories.com/daxaeterna"> subscribe to my Ream,</a> where I will be releasing draft chapters weekly until release. </p></div>
    </div>
  </div>
</div>
-->

<div class="home-page pacemaker">
  <h2 class="title-link">PROGRESS UPDATES</h2>
  <h3>Scions and Shadows Series</h3>
  <img src="images/book-peripherals/scions_shadows_thin_banner.png" style="max-width: 50%;"/>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2">
      <h2>Smoke & Steel</h2>
      <h1><i>Scions & Shadows</i> #2</h1>
      <p> Xena: Warrior Princess x Anastatia.</p>
      <div class="progress-wrapper">
        <div class="dial-wrapper">
          <p class="dial-label">Developmental Edit</p>
        <div role="progressbar" class="half-arc" style="--percentage:85%;">
          <span class="label">85%</span>
        </div>
        </div>
        </div>
    </div>

  <div class="pure-u-1 pure-u-md-1-2">
    <h2>Shackles & Secrets</h2>
    <h1><i>Scions & Shadows</i> #3</h1>
    <p>Death goddesses, rebels, and spoilers ;)</p>
    <div class="progress-wrapper">
      <div class="dial-wrapper">
      <p class="dial-label">Outlining</p>
      <div role="progressbar" class="half-arc" style="--percentage:95%;">
        <span class="label">95%</span>
      </div>
      </div>
  </div>
  </div>
</div>

<hr class="horizontal-line">
<h2>Releasing On <a href="https://reamstories.com/daxaeterna">Ream:</a></h2>
<img src="images/dreaming/daxsdreamers_banner.png" style="max-width: 50%;"/>
<h4>Ream is an online membership platform made for and by authors and readers. Support me for less than $5/mo to get access to these exclusives and more! <i>Scorched Scars</i> just posted the last chapter on 03/16. Stay tuned to find out what's next!</h4>

<div class="pure-g long-progress">
  <div class="pure-u-1 pure-u-sm-1-3">
    <img src="/images/the-last-page/the-last-page-3d-s1-v3.png" style="max-width: 30%;">
    <h4><a href="https://reamstories.com/daxaeterna?storyKey=lqix5iry7k">The Last Page: Season One</a></h4>
    <p> A Lesbian Villainess Otome Isekai</p>
  </div>
  <div class="pure-u-1 pure-u-sm-2-3">
    <progress role="progressbar" max="100" value="80"> </progress>
  </div>
</div>
<hr class="horizontal-line">
<div class="pure-g long-progress">
  <div class="pure-u-1 pure-u-sm-1-3">
    <img src="images/scorched-scars/scorched-scars-3d.png" style="max-width: 30%; padding-top: 2%;">
    <h4>Scorched Scars</h4>
    <p>A <i>Scions and Shadows</i> Novella</p>
  </div>
  <div class="pure-u-1 pure-u-sm-2-3">
    <progress role="progressbar" max="100" value="100"> </progress>
  </div>
</div>