---
layout: layout
title: Dax Murray - Recommendations
---
<% recommendations = app.data.recommendations %>

<div class="book-page products-page">
<div class="pure-g">
	<div class="pure-u-1"><h1>Recommendations for Authors</h1></div>
	<div class="pure-u-1"><p>Below is a list of craft and craft-related books that I have found helpful for my own growth and development, as an author and especially as an indie author and publisher. I have personally read and own all of the following books.</p></div>
	<div><p><i>“Dax Murray is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to Amazon.com. When you click on and/or make a purchase through a link to an Amazon affiliate link placed on our website, we may receive a small commission at no additional cost to you. This helps us keep our lights on.”</i></p></div>
	<div class="pure-u-1"><hr class="horizontal-rule"></div>

	<div>
	<h2>Plotting & Outlining Recs</h2>
	<ul>
	<% recommendations.each do |recommendation| %>
		<div>
		<% if recommendation.plotting?%>
		<li><b><h3 style="text-align: left;"><%= link_to(recommendation.title,recommendation.purchase_affiliat_link )%></b></h3><p><i>(Affiliate Link)</i> by <%= recommendation.author %></p>
		</li>
		<% end %>
		</div>
	<% end %>
	</ul>
	</div>

	<div class="pure-u-1"><hr class="horizontal-rule"></div>
	<br/><br/>
	<div>
	<h2>Characters & Arcs Recs</h2>
	<ul>
	<% recommendations.each do |recommendation| %>
		<div>
		<% if recommendation.character? %>
		<li><b><h3 style="text-align: left;"><%= link_to(recommendation.title, recommendation.purchase_affiliat_link )%></b></h3><p><i>(Affiliate Link)</i> by <%= recommendation.author %></p>
		</li>
		<% end %>
		</div>
	<% end %>
	</ul>
	</div>
	
	<div class="pure-u-1"><hr class="horizontal-rule"></div>
	<br/><br/>
	<div>
	<h2>Editing Recs</h2>
	<ul>
	<% recommendations.each do |recommendation| %>
		<div>
		<% if recommendation.editing? %>
		<li><b><h3 style="text-align: left;"><%= link_to(recommendation.title, recommendation.purchase_affiliat_link )%></b></h3><p><i>(Affiliate Link)</i> by <%= recommendation.author %></p>
		</li>
		<% end %>
		</div>
	<% end %>
	</ul>
	</div>
	
	<div class="pure-u-1"><hr class="horizontal-rule"></div>
	<br/><br/>
	<div>
	<h2>Marketing & Promo</h2>
	<ul>
	<% recommendations.each do |recommendation| %>
		<div>
		<% if recommendation.marketing? %>
		<li><b><h3 style="text-align: left;"><%= link_to(recommendation.title, recommendation.purchase_affiliat_link )%></b></h3><p><i>(Affiliate Link)</i> by <%= recommendation.author %></p>
		</li>
		<% end %>
		</div>
	<% end %>
	</ul>
	</div>
		<div class="pure-u-1"><hr class="horizontal-rule"></div>
	<br/><br/>
	<div>
	<h2>Software & Apps</h2>
	<ul>
	<% recommendations.each do |recommendation| %>
		<div>
		<% if recommendation.software? %>
		<li><b><h3 style="text-align: left;"><%= link_to(recommendation.title, recommendation.purchase_affiliat_link )%></b></h3><p><i>(Affiliate Link)</i></p>
		</li>
		<% end %>
		</div>
	<% end %>
	</ul>
	</div>


</div>
</div>